**/.DS_Store
doc
src/__pycache__
src/profiling_tests
src/profiling_stats
.idea/
profiling_stats
installer/tmp
installer/usr
installer_stddev/usr
installer_stddev/tmp
ivs-calc_installer.deb
stddev_installer.deb
